In [7]:
##Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

##Import create_engine
from sqlalchemy import create_engine
database_path = "../sqlhwtableschemata.sqlite"

In [8]:
from sqlalchemy import create_engine
engine = create_engine(f"sqlite:///{database_path}")
connection = engine.connect()

In [9]:
df = pd.read_sql('SELECT * FROM "Salaries"', connection)

df.head()

OperationalError: (sqlite3.OperationalError) no such table: Salaries
[SQL: SELECT * FROM "Salaries"]
(Background on this error at: https://sqlalche.me/e/14/e3q8)